[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-quickrun"]
	path = bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "bundle/yankringsync"]
	path = bundle/yankringsync
	url = git://github.com/m4i/YankRingSync.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/perldoc-vim"]
	path = bundle/perldoc-vim
	url = git://github.com/hotchpotch/perldoc-vim.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "bundle/vim-unite"]
	path = bundle/vim-unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-uwaa"]
	path = bundle/vim-uwaa
	url = git@github.com:dameninngenn/vim-uwaa.git
[submodule "bundle/unite-script"]
	path = bundle/unite-script
	url = git://github.com/hakobe/unite-script.git
[submodule "bundle/googletasks-vim"]
	path = bundle/googletasks-vim
	url = git://github.com/mattn/googletasks-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-phrase"]
	path = bundle/vim-phrase
	url = git://github.com/vim-scripts/phrase.vim.git
[submodule "phrase/dameninngenn"]
	path = phrase/dameninngenn
	url = git://github.com/dameninngenn/phrase-dameninngenn.git
